body {
    font-family: Lucida Sans Regular, Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: rgb(212, 216, 214);
    color: rgb(3, 41, 22);
    margin: 20px;
    display: grid;
    grid-gap: 20px;

    grid-template-areas:
    "header"
    "hero"
    "focus"
    "footer";
}

h1, h2 {
    font-size: 1.5em;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
}
h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(3, 41, 22);
    text-align: center;
}

/* Header */
header {
    border-radius: 25px;
    background-color:  rgb(3, 41, 22);
    display: grid;
    width: 100%;
    grid-area: header;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-template-areas:
        "brand brand"
        "glob-nav tools";
}

header .brand {
    grid-area: brand;
    justify-self: center;
    align-content: center;
    border-radius: 90px;
}

header .glob-nav {
    grid-area: glob-nav;
    justify-self: center;
    align-content: center;
}

header .tools {
    grid-area: tools;
    justify-self: center;
    align-content: center;
}

.tools input[type=text] {
    padding: 6px;
    border: none;
    font-size: 0.6em;
    justify-self: center;
    align-content: center;
}

.brand, .glob-nav, .tools {
    padding: 20px;
}

/* Hero */
.hero {
    display: grid;
    grid-area: hero;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-template-areas:
        "hero-feature"
        "hero-action";
}

.hero .hero-feature {
    align-content: center;
    grid-area: hero-feature;
    padding: 20px;
}

.hero .hero-action {
    align-content: center;
    grid-area: hero-action;
    padding: 20px;
    background-color:rgb(3, 41, 22);
}

.hero .hero-feature, .hero .hero-action {
    border-radius: 25px;
    border: 2px solid rgb(3, 41, 22);
}

/* Focus (body) */
.focus {
    display: grid;
    grid-area: focus;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-template-areas: 
        "article-feature"
        "mobile-ad"
        "article-listing";
}

.focus .article-feature {
    align-content: center;
    grid-area: article-feature;
    padding: 20px;
}

.focus .mobile-ad {
    align-content: center;
    grid-area: mobile-ad;
}
.focus .mobile-ad:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
.focus .mobile-ad img {
    width: fit-content;
}

.focus .article-listing {
    text-align: justify;
    align-content: center;
    grid-area: article-listing;
    padding: 20px;
}

.focus .article-feature, .focus .article-listing {
    border-radius: 25px;
    border: 2px solid rgb(3, 41, 22);
}

/* Footer */
footer {
    border-radius: 25px;
    background-color: rgb(3, 41, 22);
    color: white;
    padding: 20px;
    justify-content: center;
    display: grid;
    grid-area: footer;
}

/* Desktop ad */
.desktop-ad {
    grid-area: desktop-ad;
    grid-template-columns: 2fr;
    justify-content: center;
    align-content: center;
}
.desktop-ad:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
.desktop-ad img {
    width: fit-content;
}

/* Sidebar */
.sidebar {
    border-radius: 25px;
    padding: 20px;
    border: 2px solid rgb(3, 41, 22);
    grid-area: sidebar;
}
.sidebar .sidebar-feature {
    height: 100%;
}

/* Hide non-mobile features */
.hero .hero-feature, .desktop-ad, .sidebar {
    display: none;
}

/* Tablet layout */
@media (min-width: 576px) {
    body {
        grid-template-areas:
        "header"
        "hero"
        "focus"
        "sidebar"
        "footer";
    }

    /* Change header */
    header {
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "brand glob-nav tools";
    }
    header .glob-nav {
        grid-area: glob-nav;
        justify-content: center;
    }

    /* Change hero */
    .hero {
        grid-template-areas:
        "hero-feature hero-feature hero-feature"
        "hero-action hero-action hero-action";
    }
    .hero .hero-feature {
        display: block;
    }

    /* Change focus */
    .focus {
        grid-template-rows: 1fr 2.5fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "article-feature mobile-ad"
        "article-listing article-listing";
    }

    /* Change sidebar */
    .sidebar {
        display: grid;
        justify-content: center;
        align-content: center;
    }

}

/* Desktop layout */
@media (min-width: 992px) {
    body {
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto auto 2fr auto;
        grid-template-areas:
            "header header header"
            "hero hero desktop-ad"
            "focus focus sidebar"
            "footer footer footer";
    }
    /* Change header */
    header {
        grid-template-columns: 25% 50% 25%;
        grid-template-areas:
        "brand glob-nav tools";
    }
    header .glob-nav {
        grid-area: glob-nav;
        justify-self: center;
    }

    /* Change hero */
    .hero {
        grid-template-columns: 70% 30%;
        grid-template-areas:
        "hero-feature hero-action";
    }

    .hero .hero-feature, .desktop-ad, .sidebar {
    display: block;
    }

    /* Change focus */
    .focus {
        grid-template-rows: 2fr;
        grid-template-columns: 30% 70%;
        grid-template-areas:
        "article-feature article-listing";
    }

    .focus .mobile-ad {
        display: none;
    }

    /* Change sidebar */
    .sidebar {
        display: grid;
        grid-template-columns: 2fr;
        justify-content: center;
        align-content: center;
    }
}